:root {
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-red: #FF0000;
    --color-pink: #FF00004D;
    --color-offwhite1: #FFFFFF33;
    --color-offwhite2: #FFFFFF29;
    --color-grey1: #28272C;
    --color-grey2: #6A6A6A;
    --color-offgrey3: #00000066;
    --color-grey4: #B2B2B2;
    --color-offgrey5: #00000040;
    --color-grey6: #D1D1D1;
}